@media (min-width: 300px) {

    #panel-container {
        min-height: 350px;
        display: grid;
        grid-template-columns: none;
        padding: 0.5rem;
        grid-auto-rows: minmax(150px, auto);
        row-gap: 1rem;
        column-gap: 0.5rem;
    }

    .card {
        padding: 0.5rem;
    }

    .card:hover {
        color: #009688;
    }
}


/* Small devies (tablets, 768px and up) */
@media (min-width: 768px) {
    #panel-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }

    #panel-page-title {
        padding: 1rem 0rem;
        text-align: center;
    }

}

/* Small devies (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Small devies (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #panel-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 0;
    }
}