  #panel-page-title {
      padding: 1rem 0rem;
      text-align: center;
  }

  .panel-container {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      flex-wrap: wrap;
  }

  .card {
      flex-basis: 30%;
      padding: 10px;
  }

  .card:hover {
      color: #009688;
  }