h1.page-title {
    color: #EC407A;
    padding: 15px 10px 15px 0px;
    text-align: center;
}

.search-item {
    border: 1px solid #EC407A !important;
    margin: 20px 0px !important;
}

.search-item:hover {
    cursor: pointer;
    opacity: 0.8;
}