/* //Mobile */
@media (min-width: 300px) {
    .bg-custom {
        background-color: #009688;
    }

    #navbarScrollingDropdown {
        display: none;
    }

    #logout-mobile-btn {
        display: block;
        color: rgba(255, 255, 255, 0.55);
    }

    a.navbar-brand {
        margin: 0;
    }

    .navbar {
        padding: 0.5rem 0;
    }

    button.navbar-toggler {
        border: none;
        background-repeat: no-repeat !important;
        background-position: 13px 8px !important;
    }

    span.navbar-toggler-icon {
        background-image: none;
    }

    a.navbar-brand {
        color: #fff !important;
        font-size: 1.5rem;
        margin-left: 20px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: #fff;
    }

    h1#logo {
        padding-right: 1.2rem;
    }
}

/* Small devies (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Small devies (desktops, 992px and up) */
@media (min-width: 992px) {
    #navbarScrollingDropdown {
        display: block;
    }

    #logout-mobile-btn {
        /* display: none; */
        cursor: pointer;
    }
}

/* Small devies (large desktops, 1200px and up) */
@media (min-width: 1200px) {}