
/* //Mobile */
@media (min-width: 300px) {

    /* TABLE */
    .table-row.row {
        position: relative;
    }

    div#select-option-wrapper {
        display: none;
    }

    div#btn-add-item-redirect-wrap {
        display: flex;
        justify-content: center;
    }

 

    /* div#search-input-wrap {
        flex-grow: 1;
    } */

    h1.grid-title {
        text-align: center;
        font-size: 6vw;
        padding: 0.5rem 0rem;
    }

    .table .thead-dark th {
        color: #fff;
        background-color: #212529;
        border-color: #32383e;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    /* FORM */
    .form-wrap {
        padding: 0 0.5rem;
    }

    .form-group.p-2 {
        margin-bottom: 0.25rem;
    }

    button#system-btn,
    #btn-cancel {
        width: 100%;
    }

    /* label.form-label {
        display: none;
    } */

    .form-group.buttons-section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

/* Small devies (tablets, 768px and up) */
@media (min-width: 768px) {

    /* TABLE */
}

/* Small devies (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Small devies (large desktops, 1200px and up) */
@media (min-width: 1200px) {}