 .pagination {
     display: flex;
     align-items: center;
     gap: 12px;
     margin-top: 200px;
 }

 .btn {
     border: 1px solid #087f5b;
     color: #087f5b;
     width: 48px;
     height: 48px;
     border-radius: 50%;
     background: none;
     cursor: pointer;
     padding: 0;
 }

 .btn:hover {
     background-color: #087f5b;
 }

 .btn:hover .btn-icon {
     fill: #fff;
 }

 .btn-icon {
     height: 24px;
     width: 24px;
     stroke: #087f5b;
 }

 .page-link:link,
 .page-link:visited {
     font-size: 18px;
     color: #343a40;
     text-decoration: none;
     height: 36px;
     width: 36px;
     border-radius: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .page-link:hover,
 .page-link:active,
 .page-link.page-link--current {
     background-color: #087f5b;
     color: #fff;
 }

 .dots {
     color: #868e96;
 }

 @media (min-width: 300px) {
     .btn {
         width: 28px;
         height: 28px;
     }

     .page-link:link,
     .page-link:visited {
         width: 26px;
         height: 26px;
     }
 }