.recharts-responsive-container {
   padding: 1rem;
}

#recharts-container{
    margin-top: 2em;
}

svg#bar-chart-item {
    background-color: #fff;
}
.recharts-default-legend {
    position: relative;
    top: 2em;
}