div#search-item {
    /* background-color: #522f3b; */
    width: 780px;
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    border-radius: 5px;
    padding: 30px;
    height: 310px;
    border: 2px solid #EC407A;
}